@tailwind base;
@tailwind components;
@tailwind utilities;


@import url(https://fonts.googleapis.com/css2?family=Fira+Code&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script);

@layer components {
    .wrapper {
        @apply md:w-8/12 m-auto;
    }

    .footer {
        @apply w-screen fixed bottom-0 bg-gray-200 bg-opacity-20;
    }
    .background {
        @apply from-black to-gray-800 bg-gradient-to-bl w-screen h-screen -z-10 overflow-hidden top-0 pointer-events-none object-cover transition-opacity duration-[1s];
    }

    .background img {
        @apply absolute brightness-[45%];
    }
    .navbar {
        @apply bg-gray-200 bg-opacity-20 fixed w-screen p-4;
    }

    .nav-link {
        @apply m-3;
    }

    .sidebar {
        @apply top-44 fixed bg-gray-900 bg-opacity-60 rounded-md p-6 transition-all duration-1000 -translate-x-[80px];
    }

    .button-secondary {
        @apply bg-gray-800 rounded-lg duration-500 transition-colors focus:bg-gray-500;
    }

    .profile-name {
        font-family: 'Dancing Script', monospace, 'sans serif';
    }
}

@layer base {
    * {
        @apply box-border text-white;
        font-family: 'Fira Code', monospace, 'sans serif';
        scroll-behavior: smooth;
    }
}